##############################
## Project Outputs / Reports
##############################
allure-results/
allure-report/
allure-report/history/
screenshots/
screenshot/
test-output/
reports/
logs/
build/
htmlreports/
testng-results*.xml
opencart.log
activityLog.log

##############################
## Java / Build Artifacts
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

##############################
## Maven
##############################
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties

##############################
## IntelliJ
##############################
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
out/

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## Jenkins / CI
##############################
.jenkins/
workspace/
jobs/
builds/

##############################
## OS / General
##############################
.DS_Store
Thumbs.db
